@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
  }
  :root {
    --primary: #64748b29;
    --secondary: #64748b80;
  }

  /* Scrollbar styles */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 20px;
    border: 3px solid var(--primary);
  }
}

@layer components {
  .topArrow {
    @apply before:border-8 before:border-transparent before:border-b-[#8e8bbb]
    before:w-4 before:h-4 before:absolute before:bottom-full before:left-[117px];
  }
  .link {
    @apply px-2 py-1 m-1 rounded block  hover:bg-indigo-500 cursor-pointer;
  }
  .wrapper {
    @apply sm:max-w-[590px] md:max-w-[690px] 2md:max-w-[890px] lg:max-w-[970px] xl:max-w-[1160px] 2xl:max-w-[1380px] mx-auto;
  }
  .greenPill {
    @apply after:w-2 after:h-2 after:rounded-full after:absolute after:right-0 after:top-2/4 after:-translate-y-2/4;
  }
  .striped #room:nth-child(odd) {
    @apply bg-violet-400/10;
  }
  .checkbox {
    @apply w-full block text-center border border-indigo-400 p-2 rounded-md cursor-pointer peer-checked:bg-blue-500/50 peer-checked:border-2;
  }
  #create-container h4 {
    @apply text-white/50;
  }
  #create-container label {
    @apply text-violet-200;
  }
  #create > div {
    @apply mt-3;
  }
  .input {
    @apply outline-none bg-transparent rounded-md pl-3 py-1 text-sm placeholder:text-sm placeholder:font-light ring-1 ring-indigo-200/50 focus:ring-indigo-300;
  }
  #user-info > div span {
    @apply px-3 py-1 rounded-md my-1 ml-2 inline-block border border-white/25;
  }
  #reset-pass > div label {
    @apply text-white/70 block mb-2;
  }
  #inputs > div label {
    @apply text-white/70 block mb-2 font-light;
  }
  .toggle-sides a.active {
    @apply bg-violet-600/30 border border-violet-300;
  }
  .auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .mirror_full_screen {
    @apply absolute h-full after:content-[''] after:absolute after:w-full after:h-1/3  after:left-0 after:bottom-0 after:bg-gradient-to-t after:from-black after:via-black/50 to-transparent;
  }
  .mirror_small_square {
    @apply relative w-24 h-24 rounded-md border basis-28 z-[1];
  }
  .activeChat {
    @apply bg-violet-900 after:content-[''] after:absolute after:-right-[5px] after:top-2/4 after:border-8 after:border-transparent after:border-r-violet-900;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
